.popular-movie-bg-container {
  background-color: #131313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.popular-movie-data-container {
  background-color: #131313;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-movie-data-list-container {
  width: 80%;
  padding: 10px 0px 20px 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-movie-page-details-container {
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.popular-movie-page-number {
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: 300;
}

.popular-movie-page-navigation-button {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.popular-movie-page-backward-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.popular-movie-page-forward-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popular-navbar-container {
  width: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-search-movies-container {
  width: 100vw;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-search-movies-list-container {
  width: 80%;
  padding: 10px 0px 20px 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-search-movie-no-results-container {
  min-height: 90vh;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-search-movie-no-results-text-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-search-movie-no-results-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
}

.popular-search-movie-page-details-container {
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-search-movie-page-number {
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: 300;
}

.popular-search-movie-page-navigation-button {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.popular-search-movie-page-backward-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.popular-search-movie-page-forward-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popular-movie-loading-bg-container {
  background-color: #131313;
  height: 90vh;
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-movies-hide-footer {
  display: none;
}

.popular-loading-page-container {
  background-color: #131313;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-loader-container {
  background-color: #131313;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
