.specific-movie-bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.specific-movie-loading-bg-container {
  height: 100%;
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specific-movie-data-bg-container {
  color: #ffffff;
  background-size: cover;
  min-height: 600px;
}

@media screen and (min-width: 768px) {
  .specific-movie-data-bg-container {
    min-height: 1000px;
  }
}

.specific-movie-datas-container {
  width: 60%;
  height: 800px;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specific-movie-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specific-movie-title {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .specific-movie-title {
    font-size: 64px;
    font-weight: 600;
  }
}

.specific-movie-overview {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .specific-movie-overview {
    font-size: 20px;
    font-weight: 500;
  }
}

.specific-movie-button {
  height: 40px;
  width: 80px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  margin-bottom: 64px;
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start;
}

.specific-movie-details-container {
  background-color: #131313;
  width: 100%;
  padding: 20px 32px 10px 32px;
  display: flex;
  justify-content: space-around;
}

.specific-movie-detail-container {
  display: flex;
  flex-direction: column;
}

.specific-movie-detail-title {
  color: #64748b;
  font-size: 16px;
  font-weight: 600;
  font-family: 'HK Grotesk';
}

.specific-movie-detail-list-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.specific-movie-detail-item {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'HK Grotesk';
  margin-top: 10px;
}

.specific-movie-more-like-this-container {
  background-color: #131313;
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specific-movie-more-like-this-inner--container {
  margin: 10px 32px 10px 32px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.specific-movie-more-like-this-title {
  color: #ffffff;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .specific-movie-more-like-this-title {
    font-size: 32px;
  }
}

.specific-movie-more-like-this-list-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specific-movie-navbar-container {
  width: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specific-movie-navbar-container-with-opacity {
  background-color: rgba(19, 19, 19, 0.2);
}

.specific-search-movie-no-results-container {
  height: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-search-movie-no-results-text-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-search-movie-no-results-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
}

.specific-search-movies-container {
  width: 100vw;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specific-search-movies-list-container {
  width: 80%;
  padding: 10px 0px 20px 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specific-search-movie-no-results-container {
  height: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-search-movie-no-results-text-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-search-movie-no-results-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
}

.specific-search-movie-page-details-container {
  background-color: #131313;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specific-search-movie-page-number {
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: 300;
}

.specific-search-movie-page-navigation-button {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.specific-search-movie-page-backward-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.specific-search-movie-page-forward-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.specific-movie-bg-container-with-bg-color {
  background-color: #131313;
  min-height: 100vh;
}
