.footer-bg-container {
  height: 200px;
  background-color: #131313;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-media-icon {
  margin: 10px;
  font-size: 20px;
}

.footer-contact-us-text {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
}
